.Projects {
    padding: 0;
    list-style: none;

    .project {
        margin-bottom: 2em;
        padding-bottom: 3em;
        border-bottom: 0.1em solid black;

        .project-image {
            width: 100%;
            max-height: 100%;
        }

        .project-info {
            display: flex;
            margin: 1em 0;
            line-height: 30px;

            .title {
                font-size: 1.2em;
            }

            .time {
                font-weight: normal;
                font-size: 1em;
                margin: 0 0.5em;
            }
        }

        p {
            margin: 0.5em 0;
        }
    }
}