.Page {
    width: 50%;
    margin: 0 auto;
    padding: 1em;
    font-family: 'Avenir', sans-serif;
    // border: 0.1em dashed black;

    .title {
        font-size: 1.5em;
        margin: 0;
    }

    .text {
        margin: 0;
    }
}