.Page {
    width: 50%;
    height: 300px;
    margin: 0 auto;
    padding: 1em;
    background: navajowhite;
    font-family: sans-serif;

    .title {
        font-size: 1.5em;
        margin: 0;
    }
}